[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    list-changed-file = "! git diff --diff-filter=ACMRTUXB --name-only master -- spec test lib "
    list-changed-tests = ! git diff --diff-filter=ACMRTUXB --name-only master -- spec test lib
